.app {
  overflow-x: hidden;
  width: 100%;
  transition: 0.5s opacity;
}

.app--hide {
  opacity: 0;
}

.gameboard {
  max-width: $max-app-container-width;
  margin: 10px auto;
  text-align: center;
}