.summary {
  display: flex;
  flex-direction: column;
  align-items: center;

  > * {
    margin: 10px;
  }

  .summary__body {
    display: table;
    text-align: left;
  }

  .summary__playAgain {
    padding: 8px;
  }

  .summary__moves, .summary__time {
    display: table-row;

    .summary__label, .summary__val {
      display: table-cell;
      padding: 8px;
    }
  }

  .summary__trophy {
    max-width: 150px;
    animation-name: rise-and-fall-small-high;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    border-radius: 50%;
  }
}

.summary--hide {
  display: none;
}